
        <section class="header-title education section-padding">
          <div class="container text-center">
              <h2 class="title">Services</h2>
              <span class="sub-title">Home >  Services >  Transcription Services > Education</span>
          </div>
      </section> <!-- header-title -->


     <section class="service-page-section section-padding">
          <div class="container">
              <div class="row">
                  <div class="col-md-4">
                      <div class="side-bar">
                          <ul class="page-list text-left">
                              <li><a routerLink="/general">General<i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
                              <li class="active"><a routerLink="/education">Education <i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
                              <li><a routerLink="/medical">Medical <i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
                              <li><a routerLink="/insurance">Insurance<i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
                               
                          </ul>

                          

                          
                      </div>
                  </div>

                  <div class="col-md-8">
                      <div class="single-service-wrapper">
                          <h3>Education</h3>

                          <p>The Education Transcription services provided by our professional experts come to the aid of students and professors from various reputed organizations all over the world. We deal with Transcription and Translation of Audio/Video to text, text to text and translation and transcription of one language to the other. </p>
                          <p>We guarantee to provide complete accuracy in the solutions delivered by us.  With the help of our education transcription services, even the people with disability can easily read the lectures later.   </p>

                          <p>All you need to do is register on our website and get your Videos and Audios accurately translated at an affordable rate. </p>

                          
                          
                      </div>
                  </div>
              </div>
          </div>
      </section> <!-- service-page-section -->



      <section class="signup-section">
          <div class="container">
              <div class="row">
                  <div class="col-md-6 col-sm-7">
                      <div class="contact-wrapper">
                          <h3>Signup for free <span>newsletter</span> and <span>business tips</span></h3>

                          <form class="signupForm">
                              <div class="form-wrapper">
                                  <input class="searchBar" required placeholder="email address ...">

                                  <button type="submit" class="subscribeBtn btn-primary">Submit</button>
                              </div>
                          </form>
                      </div>
                  </div>

                  <div class="col-md-6 col-sm-5 hidden-xs">
                      <div class="caption text-right wow slideInRight">
                          <img src="assets/images/girl.png" alt="">
                      </div>
                  </div>
              </div>
          </div>
      </section>