
        <section class="header-title insurance section-padding">
          <div class="container text-center">
              <h2 class="title">Services</h2>
              <span class="sub-title">Home >  Services >  Transcription Services > Insurance</span>
          </div>
      </section> <!-- header-title -->


     <section class="service-page-section section-padding">
          <div class="container">
              <div class="row">
                  <div class="col-md-4">
                      <div class="side-bar">
                          <ul class="page-list text-left">
                              <li><a routerLink="/general">General<i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
                              <li><a routerLink="/education">Education <i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
                              <li><a routerLink="/medical">Medical <i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
                              <li class="active"><a routerLink="/insurance">Insurance<i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
                               
                          </ul>
                          
                      </div>
                  </div>

                  <div class="col-md-8">
                      <div class="single-service-wrapper">
                          <h3>Insurance</h3>

                          <p>Our professional experts provide accurate transcribing of the audios which are gathered by the insurance companies for maintaining proper insurance records. </p>
                          <p>We at Info Solutions Web deal with the transcription of a number of videos and audios related to the insurance industry like the interviews with the persons who are concerned with a claim, conversations with the witnesses or the accused individuals to name a few. </p>

                          <p>Formatting options are also featured in the list of our services. We translate, transcribe and format the video/audio with proper accuracy and quality as per the needs and demands of our customers </p>

                          
                          
                      </div>
                  </div>
              </div>
          </div>
      </section> <!-- service-page-section -->



      <section class="signup-section">
          <div class="container">
              <div class="row">
                  <div class="col-md-6 col-sm-7">
                      <div class="contact-wrapper">
                          <h3>Signup for free <span>newsletter</span> and <span>business tips</span></h3>

                          <form class="signupForm">
                              <div class="form-wrapper">
                                  <input class="searchBar" required placeholder="email address ...">

                                  <button type="submit" class="subscribeBtn btn-primary">Submit</button>
                              </div>
                          </form>
                      </div>
                  </div>

                  <div class="col-md-6 col-sm-5 hidden-xs">
                      <div class="caption text-right wow slideInRight">
                          <img src="assets/images/girl.png" alt="">
                      </div>
                  </div>
              </div>
          </div>
      </section>