<section class="header-title section-padding">
  <div class="container text-center">
      <h2 class="title">F.A.Q</h2>
      <span class="sub-title">Home >  FAQ</span>
  </div>
</section> <!-- header-title -->



<section class="faq-page-section section-padding">
  <div class="container">
      <div class="row">
          
          <div class="col-md-12">
              <div class="faq-content">
                  <h3>Frequently Asked Question</h3>

                  <div id="accordion" class="accordion-content">
                      <h3>Lorem ipsum dolor sit amet</h3>
                      <div>
                          <p>consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna. Quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
                      </div>

                      <h3>Dolor sit amet, consectetuer adipiscing elit</h3>
                      <div>
                          <p>consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna. Quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
                      </div>

                      <h3>Sed diam nonummy nibh euismod</h3>
                      <div>
                          <p>consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna. Quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
                      </div>
                  </div>
              </div> <!-- research-content -->
          </div>
      </div>
  </div>
</section> <!-- faq-page-section -->



<section class="signup-section">
  <div class="container">
      <div class="row">
          <div class="col-md-6 col-sm-7">
              <div class="contact-wrapper">
                  <h3>Signup for free <span>newsletter</span> and <span>business tips</span></h3>

                  <form class="signupForm">
                      <div class="form-wrapper">
                          <input class="searchBar" required placeholder="email address ...">

                          <button type="submit" class="subscribeBtn btn-primary">Submit</button>
                      </div>
                  </form>
              </div>
          </div>

          <div class="col-md-6 col-sm-5 hidden-xs">
              <div class="caption text-right wow slideInRight">
                  <img src="assets/images/girl.png" alt="">
              </div>
          </div>
      </div>
  </div>
</section> <!-- signup-section -->