<section class="header-title price section-padding">
  <div class="container text-center">
    <h2 class="title">Price</h2>
  </div>
</section>
<!-- header-title -->

<section class="pricing-section section-padding">
  <div class="container">
    <div class="priceing-wrapper ">
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#tab-one" role="tab" data-toggle="tab">General Price </a></li>
        <li role="presentation"><a href="#tab-two" role="tab" data-toggle="tab">Education </a></li>
        <li role="presentation"><a href="#tab-three" role="tab" data-toggle="tab">Medical </a></li>
        <li role="presentation"><a href="#tab-four" role="tab" data-toggle="tab">Legal </a></li>
        <li role="presentation"><a href="#tab-five" role="tab" data-toggle="tab">Translation </a></li>
        <li role="presentation"><a href="#tab-six" role="tab" data-toggle="tab">Insurance </a></li>
      </ul>
      <div class="tab-content text-center">
        <div role="tabpanel" class="tab-pane fade in active" id="tab-one">
          <div class="row">
            <div class="prix-layout-alt prix-col-5"> 
              
              <!--List of Features-->
              <div class="col list style6">
                <ul>
                    <li> <span class="feature"></span> </li>
                  <li>No Of Speakers</li>
                  <li>Media Type - Audio/Video</li>
                  <li>Delivery</li>
                  <li>Price Per Minute</li>
                  
                </ul>
              </div>
              <!--/List of Features--> 
              
              <!--The four columns-->
              <div class="col">
                <div class="prix-table style6 prix-color-blue">
                  <div class="header">
                    <h2 class="package">Economy<br> 10 Days</h2>
                  </div>
                  <ul class="items">
                    <li> <span class="feature"></span> </li>
                    <li> <span class="feature">Multiple</span></li>
                    <li><span class="feature"><i class="fa fa-check"></i></span></li>
                    <li> <span class="feature">10 Days</span> </li>
                    <li> <span class="feature">$0.75</span> </li>
                  </ul>
                  <a href="#/transcription-file/1/general" class="prix-btn">Upload Now ></a> </div>
              </div>
              <div class="col">
                <div class="prix-table style6 prix-color-blue">
                  <div class="header">
                    <h2 class="package">Priority<br> 5 Days</h2>
                    
                  </div>
                  <ul class="items">
                    <li> <span class="feature semi-bold">Most Popular</span> </li>
                    <li> <span class="feature">Multiple</span> </li>
                    <li><span class="feature"><i class="fa fa-check"></i></span></li>
                    <li> <span class="feature">5 Days</span> </li>
                    <li> <span class="feature">$0.90</span> </li>
                 </ul>
                  <a  routerLink="/transcription-file/2/general" class="prix-btn">Upload Now ></a> </div>
              </div>
              <div class="col">
                <div class="prix-table style6 prix-color-blue">
                  <div class="header">
                    <h2 class="package">Priority<br> 3 Days</h2>
                    
                  </div>
                  <ul class="items">
                    <li> <span class="feature"></span> </li>
                    <li> <span class="feature">Multiple</span> </li>
                    <li><span class="feature"><i class="fa fa-check"></i></span></li>
                    <li> <span class="feature">3 Days</span> </li>
                    <li> <span class="feature">$1.40</span> </li>
                  </ul>
                  <a href="#/transcription-file/3/general" class="prix-btn">Upload Now ></a> </div>
              </div>
              <div class="col">
                <div class="prix-table style6 prix-color-blue">
                  <div class="header">
                    <h2 class="package">Express<br> 2 Days</h2>
                  </div>
                  <ul class="items">
                    <li> <span class="feature"></span> </li>
                    <li> <span class="feature">Multiple</span> </li>
                    <li><span class="feature"><i class="fa fa-check"></i></span></li>
                    <li> <span class="feature">2 Days</span> </li>
                    <li> <span class="feature">$1.90</span> </li>
                  </ul>
                  <a  routerLink="/transcription-file/4/general" class="prix-btn">Upload Now ></a> </div>
              </div>
              <div class="col">
                <div class="prix-table style6 prix-color-blue">
                  <div class="header">
                    <h2 class="package">Express<br> 1 Day</h2>
                  </div>
                  <ul class="items">
                    <li> <span class="feature"></span> </li>
                    <li> <span class="feature">Multiple</span> </li>
                    <li><span class="feature"><i class="fa fa-check"></i></span></li>
                    <li> <span class="feature">1 Day</span> </li>
                    <li> <span class="feature">$2.40</span> </li>
                  </ul>
                  <a  routerLink="/transcription-file/5/general" class="prix-btn">Upload Now ></a> </div>
              </div>
              
              <!--/The four columns--> 
              
            </div>
          </div>
        </div>
        <!-- tab-one -->
        <!-- tab-two -->
        <div role="tabpanel" class="tab-pane fade" id="tab-two">
          <div class="row">
            <div class="prix-layout-alt prix-col-5"> 
              
              <!--List of Features-->
              <div class="col list style6">
                <ul>
                    <li> <span class="feature"></span> </li>
                  <li>No Of Speakers</li>
                  <li>Media Type - Audio/Video</li>
                  <li>Delivery</li>
                  <li>Price Per Minute</li>
                  
                </ul>
              </div>
              <!--/List of Features--> 
              
              <!--The four columns-->
              <div class="col">
                <div class="prix-table style6 prix-color-blue">
                  <div class="header">
                    <h2 class="package">Economy<br> 10 Days</h2>
                  </div>
                  <ul class="items">
                    <li> <span class="feature"></span> </li>
                    <li> <span class="feature">Multiple</span></li>
                    <li><span class="feature"><i class="fa fa-check"></i></span></li>
                    <li> <span class="feature">10 Days</span> </li>
                    <li> <span class="feature">$0.75</span> </li>
                  </ul>
                  <a  routerLink="/transcription-file/1/education" class="prix-btn">Upload Now ></a> </div>
              </div>
              <div class="col">
                <div class="prix-table style6 prix-color-blue">
                  <div class="header">
                    <h2 class="package">Priority<br> 5 Days</h2>
                    
                  </div>
                  <ul class="items">
                    <li> <span class="feature">Most Popular</span> </li>
                    <li> <span class="feature">Multiple</span> </li>
                    <li><span class="feature"><i class="fa fa-check"></i></span></li>
                    <li> <span class="feature">5 Days</span> </li>
                    <li> <span class="feature">$0.90</span> </li>
                 </ul>
                  <a  routerLink="/transcription-file/2/education" class="prix-btn">Upload Now ></a> </div>
              </div>
              <div class="col">
                <div class="prix-table style6 prix-color-blue">
                  <div class="header">
                    <h2 class="package">Priority<br> 3 Days</h2>
                    
                  </div>
                  <ul class="items">
                    <li> <span class="feature"></span> </li>
                    <li> <span class="feature">Multiple</span> </li>
                    <li><span class="feature"><i class="fa fa-check"></i></span></li>
                    <li> <span class="feature">3 Days</span> </li>
                    <li> <span class="feature">$1.40</span> </li>
                  </ul>
                  <a  routerLink="/transcription-file/3/education" class="prix-btn">Upload Now ></a> </div>
              </div>
              <div class="col">
                <div class="prix-table style6 prix-color-blue">
                  <div class="header">
                    <h2 class="package">Express<br> 2 Days</h2>
                  </div>
                  <ul class="items">
                    <li> <span class="feature"></span> </li>
                    <li> <span class="feature">Multiple</span> </li>
                    <li><span class="feature"><i class="fa fa-check"></i></span></li>
                    <li> <span class="feature">2 Days</span> </li>
                    <li> <span class="feature">$1.90</span> </li>
                  </ul>
                  <a  routerLink="/transcription-file/4/education" class="prix-btn">Upload Now ></a> </div>
              </div>
              <div class="col">
                <div class="prix-table style6 prix-color-blue">
                  <div class="header">
                    <h2 class="package">Express<br> 1 Day</h2>
                  </div>
                  <ul class="items">
                    <li> <span class="feature"></span> </li>
                    <li> <span class="feature">Multiple</span> </li>
                    <li><span class="feature"><i class="fa fa-check"></i></span></li>
                    <li> <span class="feature">1 Day</span> </li>
                    <li> <span class="feature">$2.40</span> </li>
                  </ul>
                  <a  routerLink="/transcription-file/5/education"  class="prix-btn">Upload Now ></a> </div>
              </div>
              
              <!--/The four columns--> 
              
            </div>
          </div>
        </div>
        <!-- tab-two -->
        <!-- tab-three -->
        <div role="tabpanel" class="tab-pane fade" id="tab-three">
            <div class="row">
              <div class="prix-layout-alt prix-col-5"> 
                
                <!--List of Features-->
                <div class="col list style6">
                  <ul>
                      <li> <span class="feature"></span> </li>
                    <li>No Of Speakers</li>
                    <li>Media Type - Audio/Video</li>
                    <li>Delivery</li>
                    <li>Price Per Minute</li>
                    
                  </ul>
                </div>
                <!--/List of Features--> 
                
                <!--The four columns-->
                <div class="col">
                  <div class="prix-table style6 prix-color-blue">
                    <div class="header">
                      <h2 class="package">Economy<br> 10 Days</h2>
                    </div>
                    <ul class="items">
                      <li> <span class="feature"></span> </li>
                      <li> <span class="feature">Multiple</span></li>
                      <li><span class="feature"><i class="fa fa-check"></i></span></li>
                      <li> <span class="feature">10 Days</span> </li>
                      <li> <span class="feature">$0.75</span> </li>
                    </ul>
                    <a  routerLink="/transcription-file/1/medical" class="prix-btn">Upload Now ></a> </div>
                </div>
                <div class="col">
                  <div class="prix-table style6 prix-color-blue">
                    <div class="header">
                      <h2 class="package">Priority<br> 5 Days</h2>
                      
                    </div>
                    <ul class="items">
                      <li> <span class="feature">Most Popular</span> </li>
                      <li> <span class="feature">Multiple</span> </li>
                      <li><span class="feature"><i class="fa fa-check"></i></span></li>
                      <li> <span class="feature">5 Days</span> </li>
                      <li> <span class="feature">$0.90</span> </li>
                   </ul>
                    <a  routerLink="/transcription-file/2/medical" class="prix-btn">Upload Now ></a> </div>
                </div>
                <div class="col">
                  <div class="prix-table style6 prix-color-blue">
                    <div class="header">
                      <h2 class="package">Priority<br> 3 Days</h2>
                      
                    </div>
                    <ul class="items">
                      <li> <span class="feature"></span> </li>
                      <li> <span class="feature">Multiple</span> </li>
                      <li><span class="feature"><i class="fa fa-check"></i></span></li>
                      <li> <span class="feature">3 Days</span> </li>
                      <li> <span class="feature">$1.40</span> </li>
                    </ul>
                    <a  routerLink="/transcription-file/3/medical" class="prix-btn">Upload Now ></a> </div>
                </div>
                <div class="col">
                  <div class="prix-table style6 prix-color-blue">
                    <div class="header">
                      <h2 class="package">Express<br> 2 Days</h2>
                    </div>
                    <ul class="items">
                      <li> <span class="feature"></span> </li>
                      <li> <span class="feature">Multiple</span> </li>
                      <li><span class="feature"><i class="fa fa-check"></i></span></li>
                      <li> <span class="feature">2 Days</span> </li>
                      <li> <span class="feature">$1.90</span> </li>
                    </ul>
                    <a  routerLink="/transcription-file/4/medical" class="prix-btn">Upload Now ></a> </div>
                </div>
                <div class="col">
                  <div class="prix-table style6 prix-color-blue">
                    <div class="header">
                      <h2 class="package">Express<br> 1 Day</h2>
                    </div>
                    <ul class="items">
                      <li> <span class="feature"></span> </li>
                      <li> <span class="feature">Multiple</span> </li>
                      <li><span class="feature"><i class="fa fa-check"></i></span></li>
                      <li> <span class="feature">1 Day</span> </li>
                      <li> <span class="feature">$2.40</span> </li>
                    </ul>
                    <a  routerLink="/transcription-file/5/medical"  class="prix-btn">Upload Now ></a> </div>
                </div>
                
                <!--/The four columns--> 
                
              </div>
            </div>
          </div>
        <!-- tab-three -->
        <!-- tab-four -->
        <div role="tabpanel" class="tab-pane fade" id="tab-four">
            <div class="row">
              <div class="prix-layout-alt prix-col-5"> 
                
                <!--List of Features-->
                <div class="col list style6">
                  <ul>
                      <li> <span class="feature"></span> </li>
                    <li>No Of Speakers</li>
                    <li>Media Type - Audio/Video</li>
                    <li>Delivery</li>
                    <li>Price Per Minute</li>
                    
                  </ul>
                </div>
                <!--/List of Features--> 
                
                <!--The four columns-->
                <div class="col">
                  <div class="prix-table style6 prix-color-blue">
                    <div class="header">
                      <h2 class="package">Economy<br> 10 Days</h2>
                    </div>
                    <ul class="items">
                      <li> <span class="feature"></span> </li>
                      <li> <span class="feature">Multiple</span></li>
                      <li><span class="feature"><i class="fa fa-check"></i></span></li>
                      <li> <span class="feature">10 Days</span> </li>
                      <li> <span class="feature">$0.75</span> </li>
                    </ul>
                    <a  routerLink="/transcription-file/1/legal" class="prix-btn">Upload Now ></a> </div>
                </div>
                <div class="col">
                  <div class="prix-table style6 prix-color-blue">
                    <div class="header">
                      <h2 class="package">Priority<br> 5 Days</h2>
                      
                    </div>
                    <ul class="items">
                      <li> <span class="feature">Most Popular</span> </li>
                      <li> <span class="feature">Multiple</span> </li>
                      <li><span class="feature"><i class="fa fa-check"></i></span></li>
                      <li> <span class="feature">5 Days</span> </li>
                      <li> <span class="feature">$0.90</span> </li>
                   </ul>
                    <a  routerLink="/transcription-file/2/legal" class="prix-btn">Upload Now ></a> </div>
                </div>
                <div class="col">
                  <div class="prix-table style6 prix-color-blue">
                    <div class="header">
                      <h2 class="package">Priority<br> 3 Days</h2>
                      
                    </div>
                    <ul class="items">
                      <li> <span class="feature"></span> </li>
                      <li> <span class="feature">Multiple</span> </li>
                      <li><span class="feature"><i class="fa fa-check"></i></span></li>
                      <li> <span class="feature">3 Days</span> </li>
                      <li> <span class="feature">$1.40</span> </li>
                    </ul>
                    <a  routerLink="/transcription-file/3/legal" class="prix-btn">Upload Now ></a> </div>
                </div>
                <div class="col">
                  <div class="prix-table style6 prix-color-blue">
                    <div class="header">
                      <h2 class="package">Express<br> 2 Days</h2>
                    </div>
                    <ul class="items">
                      <li> <span class="feature"></span> </li>
                      <li> <span class="feature">Multiple</span> </li>
                      <li><span class="feature"><i class="fa fa-check"></i></span></li>
                      <li> <span class="feature">2 Days</span> </li>
                      <li> <span class="feature">$1.90</span> </li>
                    </ul>
                    <a  routerLink="/transcription-file/4/legal" class="prix-btn">Upload Now ></a> </div>
                </div>
                <div class="col">
                  <div class="prix-table style6 prix-color-blue">
                    <div class="header">
                      <h2 class="package">Express<br> 1 Day</h2>
                    </div>
                    <ul class="items">
                      <li> <span class="feature"></span> </li>
                      <li> <span class="feature">Multiple</span> </li>
                      <li><span class="feature"><i class="fa fa-check"></i></span></li>
                      <li> <span class="feature">1 Day</span> </li>
                      <li> <span class="feature">$2.40</span> </li>
                    </ul>
                    <a  routerLink="/transcription-file/5/legal"  class="prix-btn">Upload Now ></a> </div>
                </div>
                
                <!--/The four columns--> 
                
              </div>
            </div>
          </div>
        <!-- tab-four -->
        <!-- tab-five -->
        <div role="tabpanel" class="tab-pane fade" id="tab-five">
            <div class="row">
              <div class="prix-layout-alt prix-col-5"> 
                
                <!--List of Features-->
                <div class="col list style6">
                  <ul>
                      <li> <span class="feature"></span> </li>
                    <li>No Of Speakers</li>
                    <li>Media Type - Audio/Video</li>
                    <li>Delivery</li>
                    <li>Price Per word</li>
                    
                  </ul>
                </div>
                <!--/List of Features--> 
                
                <!--The four columns-->
                <div class="col">
                  <div class="prix-table style6 prix-color-blue">
                    <div class="header">
                      <h2 class="package">Economy<br> 15 Days</h2>
                    </div>
                    <ul class="items">
                      <li> <span class="feature"></span> </li>
                      <li> <span class="feature">Multiple</span></li>
                      <li><span class="feature"><i class="fa fa-check"></i></span></li>
                      <li> <span class="feature">15 Days</span> </li>
                      <li> <span class="feature">$0.08</span> </li>
                    </ul>
                    <a  routerLink="/transcription-file/1/translation" class="prix-btn">Upload Now ></a> </div>
                </div>
                <div class="col">
                  <div class="prix-table style6 prix-color-blue">
                    <div class="header">
                      <h2 class="package">Priority<br> 5 Days</h2>
                      
                    </div>
                    <ul class="items">
                      <li> <span class="feature">Most Popular</span> </li>
                      <li> <span class="feature">Multiple</span> </li>
                      <li><span class="feature"><i class="fa fa-check"></i></span></li>
                      <li> <span class="feature">5 Days</span> </li>
                      <li> <span class="feature">$0.10</span> </li>
                   </ul>
                    <a  routerLink="/transcription-file/2/translation" class="prix-btn">Upload Now ></a> </div>
                </div>
                <div class="col">
                  <div class="prix-table style6 prix-color-blue">
                    <div class="header">
                      <h2 class="package">Priority<br> 3 Days</h2>
                      
                    </div>
                    <ul class="items">
                      <li> <span class="feature"></span> </li>
                      <li> <span class="feature">Multiple</span> </li>
                      <li><span class="feature"><i class="fa fa-check"></i></span></li>
                      <li> <span class="feature">3 Days</span> </li>
                      <li> <span class="feature">$0.12</span> </li>
                    </ul>
                    <a  routerLink="/transcription-file/3/translation" class="prix-btn">Upload Now ></a> </div>
                </div>
                <div class="col">
                  <div class="prix-table style6 prix-color-blue">
                    <div class="header">
                      <h2 class="package">Express<br> 2 Days</h2>
                    </div>
                    <ul class="items">
                      <li> <span class="feature"></span> </li>
                      <li> <span class="feature">Multiple</span> </li>
                      <li><span class="feature"><i class="fa fa-check"></i></span></li>
                      <li> <span class="feature">2 Days</span> </li>
                      <li> <span class="feature">$0.14</span> </li>
                    </ul>
                    <a  routerLink="/transcription-file/4/translation" class="prix-btn">Upload Now ></a> </div>
                </div>
                <div class="col">
                  <div class="prix-table style6 prix-color-blue">
                    <div class="header">
                      <h2 class="package">Express<br> 1 Day</h2>
                    </div>
                    <ul class="items">
                      <li> <span class="feature"></span> </li>
                      <li> <span class="feature">Multiple</span> </li>
                      <li><span class="feature"><i class="fa fa-check"></i></span></li>
                      <li> <span class="feature">1 Day</span> </li>
                      <li> <span class="feature">$0.16</span> </li>
                    </ul>
                    <a  routerLink="/transcription-file/5/translation"  class="prix-btn">Upload Now ></a> </div>
                </div>
                
                <!--/The four columns--> 
                
              </div>
            </div>
          </div>
        <!-- tab-five -->
        <!-- tab-six -->
        <div role="tabpanel" class="tab-pane fade" id="tab-six">
            <div class="row">
              <div class="prix-layout-alt prix-col-5"> 
                
                <!--List of Features-->
                <div class="col list style6">
                  <ul>
                      <li> <span class="feature"></span> </li>
                    <li>No Of Speakers</li>
                    <li>Media Type - Audio/Video</li>
                    <li>Delivery</li>
                    <li>Price Per Minute</li>
                    
                  </ul>
                </div>
                <!--/List of Features--> 
                
                <!--The four columns-->
                <div class="col">
                  <div class="prix-table style6 prix-color-blue">
                    <div class="header">
                      <h2 class="package">Economy<br> 10 Days</h2>
                    </div>
                    <ul class="items">
                      <li> <span class="feature"></span> </li>
                      <li> <span class="feature">Multiple</span></li>
                      <li><span class="feature"><i class="fa fa-check"></i></span></li>
                      <li> <span class="feature">10 Days</span> </li>
                      <li> <span class="feature">$0.75</span> </li>
                    </ul>
                    <a  routerLink="/transcription-file/1/insurance" class="prix-btn">Upload Now ></a> </div>
                </div>
                <div class="col">
                  <div class="prix-table style6 prix-color-blue">
                    <div class="header">
                      <h2 class="package">Priority<br> 5 Days</h2>
                      
                    </div>
                    <ul class="items">
                      <li> <span class="feature">Most Popular</span> </li>
                      <li> <span class="feature">Multiple</span> </li>
                      <li><span class="feature"><i class="fa fa-check"></i></span></li>
                      <li> <span class="feature">5 Days</span> </li>
                      <li> <span class="feature">$0.90</span> </li>
                   </ul>
                    <a  routerLink="/transcription-file/2/insurance" class="prix-btn">Upload Now ></a> </div>
                </div>
                <div class="col">
                  <div class="prix-table style6 prix-color-blue">
                    <div class="header">
                      <h2 class="package">Priority<br> 3 Days</h2>
                      
                    </div>
                    <ul class="items">
                      <li> <span class="feature"></span> </li>
                      <li> <span class="feature">Multiple</span> </li>
                      <li><span class="feature"><i class="fa fa-check"></i></span></li>
                      <li> <span class="feature">3 Days</span> </li>
                      <li> <span class="feature">$1.40</span> </li>
                    </ul>
                    <a  routerLink="/transcription-file/3/insurance" class="prix-btn">Upload Now ></a> </div>
                </div>
                <div class="col">
                  <div class="prix-table style6 prix-color-blue">
                    <div class="header">
                      <h2 class="package">Express<br> 2 Days</h2>
                    </div>
                    <ul class="items">
                      <li> <span class="feature"></span> </li>
                      <li> <span class="feature">Multiple</span> </li>
                      <li><span class="feature"><i class="fa fa-check"></i></span></li>
                      <li> <span class="feature">2 Days</span> </li>
                      <li> <span class="feature">$1.90</span> </li>
                    </ul>
                    <a  routerLink="/transcription-file/4/insurance" class="prix-btn">Upload Now ></a> </div>
                </div>
                <div class="col">
                  <div class="prix-table style6 prix-color-blue">
                    <div class="header">
                      <h2 class="package">Express<br> 1 Day</h2>
                    </div>
                    <ul class="items">
                      <li> <span class="feature"></span> </li>
                      <li> <span class="feature">Multiple</span> </li>
                      <li><span class="feature"><i class="fa fa-check"></i></span></li>
                      <li> <span class="feature">1 Day</span> </li>
                      <li> <span class="feature">$2.40</span> </li>
                    </ul>
                    <a  routerLink="/transcription-file/5/insurance"  class="prix-btn">Upload Now ></a> </div>
                </div>
                
                <!--/The four columns--> 
                
              </div>
            </div>
          </div>
        <!-- tab-six -->
      </div>
      <!-- tab-content --> 
    </div>

<!-- service-page-section -->