
         <section class="header-title section-padding">
          <div class="container text-center">
              <h2 class="title">About</h2>
              <span class="sub-title">Home > About</span>
          </div>
      </section> <!-- header-title -->



      <section class="about-office-section">
          <div class="container">
              <div class="row">
                  <div class="col-md-7">
                      <div class="content text-justify">
                          <h3>We are leading 
                                Transcription, Translation and Data Research Experts
                                </h3>

                          <p>Info Solution Web is a professional company which deals with Transcription and Translation services. Our professional team consists a number of professional Transcriptionists and Customer Support experts who aim to provide the best Transcription and Translation solutions to name a few for the writers, students, teachers, medical professionals, lawyers, researchers and organizations.</p>
                          <p>We believe in delivering Quality and Work and our professional experts have till date delivered over Hundreds of successful Transcription and Translation services.  We are exceptionally trusted for providing professional transcriptions of audio/video content and recorded interviews. More over, we provide fast and accurate transcription and translation solutions at an effective price. </p>
                      </div>
                  </div>

                  <div class="col-md-5">
                      <div class="caption p-t-40 text-center wow slideInRight">
                          <img src="assets/images/our-services-bg.jpg" alt="">
                      </div>
                  </div>
              </div>
          </div>
      </section> <!-- about-office-section -->



      <section class="counting-section section-padding">
          <div class="container">
              <h2 class="hidden">counting-title</h2>

              <div class="counting-pusher">
                  <div class="counting-wrapper">
                      <span class="icon pull-left"><img src="assets/images/counter/1.png" alt=""></span>

                      <div class="content">
                          <div class="count-description">
                              <span class="timer">35</span>
                          </div>
                          <p>Team Members</p>
                      </div>
                  </div>  

                  <div class="counting-wrapper">
                      <span class="icon pull-left"><img src="assets/images/counter/2.png" alt=""></span>

                      <div class="content">
                          <div class="count-description">
                              <span class="timer">143</span>
                          </div>
                          <p>Satisfied Clients</p>
                      </div>
                  </div>  

                  <div class="counting-wrapper">
                      <span class="icon pull-left"><img src="assets/images/counter/3.png" alt=""></span>

                      <div class="content">
                          <div class="count-description">
                              <span class="timer">75</span>
                          </div>
                          <p>Languages Support</p>
                      </div>
                  </div> 

                  <div class="counting-wrapper">
                      <span class="icon pull-left"><img src="assets/images/counter/4.png" alt=""></span>

                      <div class="content">
                          <div class="count-description">
                              <span class="timer">287</span>
                          </div>
                          <p>Successful Projects</p>
                      </div>
                  </div>  
              </div> 
          </div>
      </section> <!-- counting-section -->



      <section class="finance-section section-padding">
          <div class="container text-center">
              <div class="section-title">
                  <h2>Why choose us</h2>
                  <div class="border"></div>
                  <p>We provide our clients with clear and accurate transcription services at moderate rates.<br>Our professional team is available 24/7 and hence you can always reach out to us at any point of the day.</p>
              </div> <!-- section-title -->

              <div class="row">
                  <div class="col-md-4">
                      <div class="finance-wrapper wrapper-one">
                          <div class="caption">
                              <img src="assets/images/icon/f4.png" alt="image">
                              <span class="hover-icon"><img src="assets/images/icon/f1.png" alt="image"></span>
                          </div>

                          <h3>Transcription Services</h3>
                          <p>The professional transcribers pay complete attention to the entire audio/video and provide accurate and quality transcription services. The general transcription services </p>
                          <a routerLink="/general" class="link">Learn more</a>
                      </div> <!-- finance-wrapper -->
                  </div>

                  <div class="col-md-4">
                      <div class="finance-wrapper wrapper-two">
                          <div class="caption">
                              <img src="assets/images/icon/f5.png" alt="image">
                              <span class="hover-icon"><img src="assets/images/icon/f2.png" alt="image"></span>
                          </div>

                          <h3>Translation Services</h3>
                          <p>Apart from providing translation and transcription services, Info Solutions Web also excels at providing quality captioning services.</p>
                          <a routerLink="/captions-subtitles" class="link">Learn more</a>
                      </div> <!-- finance-wrapper -->
                  </div>

                  <div class="col-md-4">
                      <div class="finance-wrapper wrapper-three">
                          <div class="caption">
                              <img src="assets/images/icon/f6.png" alt="image">
                              <span class="hover-icon"><img src="assets/images/icon/f3.png" alt="image"></span>
                          </div>

                          <h3>Data Research And Lead Generation</h3>
                          <p>Nowadays, almost every industry is relying on good leads. We at Info Solutions Web rightfully outsource the lead generating services </p>
                          <a routerLink="/data-research-lead-generation" class="link">Learn more</a>
                      </div> <!-- finance-wrapper -->
                  </div>
              </div>
          </div>
      </section>



      <!--<section class="multi-section section-padding">
          <div class="container">
              <div class="row">
                  <div class="col-md-6">
                      <div class="faq-content">
                          <h2>Frequently Asked Question</h2>

                          <div id="accordion" class="accordion-content">
                              <h3><i class="fa fa-globe"></i> Global Network of Professional Translators</h3>
                              <div>
                                  <p>consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna. Quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
                              </div>

                              <h3><i class="fa fa-file"></i> Multiple File Formats</h3>
                              <div>
                                  <p>consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna. Quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
                              </div>

                              <h3><i class="fa fa-clock-o"></i> 24/7 Customer Service</h3>
                              <div>
                                  <p>consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna. Quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
                              </div>
                          </div>
                      </div> 
                  </div>

                  <div class="col-md-6">
                      <div class="client-section">
                          <h3>Our Clients</h3>

                          <ul class="logo">
                              <li class=""><img src="assets/images/client/1.png" alt=""></li>

                              <li class="" data-wow-delay="0.2s"><img src="assets/images/client/2.png" alt=""></li>

                              <li class="" data-wow-delay="0.3s"><img src="assets/images/client/3.png" alt=""></li>

                              <li class="" data-wow-delay="0.4s"><img src="assets/images/client/4.png" alt=""></li>

                              <li class="" data-wow-delay="0.5s"><img src="assets/images/client/5.png" alt=""></li>

                              <li class="" data-wow-delay="0.6s"><img src="assets/images/client/6.png" alt=""></li>

                              <li class="" data-wow-delay="0.7s"><img src="assets/images/client/7.png" alt=""></li>
                          </ul>
                      </div>
                  </div>
              </div>
          </div>
      </section>--> <!-- multi-section -->

