
        <section class="header-title genral section-padding">
          <div class="container text-center">
              <h2 class="title">Services</h2>
              <span class="sub-title">Home >  Services >  Transcription Services > General</span>
          </div>
      </section> <!-- header-title -->


     <section class="service-page-section section-padding">
          <div class="container">
              <div class="row">
                  <div class="col-md-4">
                      <div class="side-bar">
                          <ul class="page-list text-left">
                              <li class="active"><a routerLink="/general">General<i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
                              <li><a routerLink="/education">Education <i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
                              <li><a routerLink="/medical">Medical <i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
                              <li><a routerLink="/insurance">Insurance<i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
                               
                          </ul>

                          

                          
                      </div>
                  </div>

                  <div class="col-md-8">
                      <div class="single-service-wrapper">
                          <h3>General</h3>

                          <p>The professional transcribers pay complete attention to the entire audio/video and provide accurate and quality transcription services.  The general transcription services provided by us have time and again proven to be highly beneficial in some way or the other. </p>
                          <p>Even the media world faces a huge trouble transcribing and translating their interviews, news, public speeches and political debates. At such a point, Info Solutions Web comes to their rescue. We provide our clients with clear and accurate transcription services at moderate rates. </p>

                          <p>Our professional team is available 24/7 and hence you can always reach out to us at any point of the day.</p>

                          
                          
                      </div>
                  </div>
              </div>
          </div>
      </section> <!-- service-page-section -->



      <section class="signup-section">
          <div class="container">
              <div class="row">
                  <div class="col-md-6 col-sm-7">
                      <div class="contact-wrapper">
                          <h3>Signup for free <span>newsletter</span> and <span>business tips</span></h3>

                          <form class="signupForm">
                              <div class="form-wrapper">
                                  <input class="searchBar" required placeholder="email address ...">

                                  <button type="submit" class="subscribeBtn btn-primary">Submit</button>
                              </div>
                          </form>
                      </div>
                  </div>

                  <div class="col-md-6 col-sm-5 hidden-xs">
                      <div class="caption text-right  slideInRight">
                          <img src="assets/images/girl.png" alt="">
                      </div>
                  </div>
              </div>
          </div>
      </section>