<body [ngClass]="menuSwitch()">
    <!-- start preloader -->
   <!--<div id="preloader">
    <div class="preloader">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
  </div>-->
  <!-- end preloader -->
 <header class="header-section">
    <div class="topper hidden-xs">
        <div class="top-bar">
<div class="container">
<div class="row">
  <div class="col-md-6 col-sm-7">
    <div class="header-left-bar">
      <ul class="contact-wrapper">
        <li><i class="fa fa-envelope" aria-hidden="true"></i> support@infosolutionsweb.com</li>
        <!--<li><i class="fa fa-volume-control-phone" aria-hidden="true"></i> +123 4567 889</li>-->
      </ul>
    </div>
    <!-- header-left-bar --> 
  </div>
  <div class="col-md-6 col-sm-5 hidden-xs">
    <div class="header-right-bar text-right">
      <div class="language">
        <div class="dropbar">          
          <div class="title"><a class="btn btn-primary" routerLink="/price" >PLACE ORDER</a><a class="btn btn-primary" routerLink="/get-free-quote" >GET FREE QUOTE</a> </div>
        </div>
      </div>
      <div class="social-icon pull-right">
        <ul>
          <li><a  href="https://www.facebook.com/Infosolutionsweb-212443059491881" target="_blank" ><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
          <li><a  href="https://twitter.com/AbrametDavid" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
          <li><a  href="https://aboutme.google.com/b/101602396947037689756/" target="_blank" ><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
          <li><a  href="https://www.linkedin.com/company/infosolutionsweb/" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
        </ul>
      </div>
    </div>
    <!-- header-right-bar --> 
  </div>
</div>
</div>
</div>
    </div> <!-- topper -->
    
    <nav class="navbar navbar-inverse">
<div class="navbar-inner">
<div class="container">
<div class="navbar-header"> <a class="navbar-brand" routerLink="/index"><img src="assets/images/logo.png" alt="image"></a> </div>

<div id="navmenu" class="collapse navbar-collapse navbar-right">
<ul class="nav navbar-nav hidden-sm hidden-xs">
<li routerLinkActive='active'><a routerLink="/index">Home</a> </li>
<li routerLinkActive='active' ><a routerLink="/about" >About</a></li>
<li routerLinkActive='active' class="dropdown">
<a  routerLink="/services"  class="dropdown-toggle" data-toggle="dropdown">Services <i class="fa fa-angle-down" aria-hidden="true"></i></a>
<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
  <li class="dropdown-submenu">
    <a tabindex="-1" routerLink="/general">Transcription Services</a>
    <ul class="dropdown-menu">
            <li class="kopie"><a routerLink="/general" >General</a></li>
            <li><a routerLink="/education" href="education.html">Education</a></li>
            <li><a routerLink="/medical" href="medical.html">Medical</a></li>
            <li><a routerLink="/insurance" href="insurance.html">Insurance</a></li>
          </ul>
  </li>
  <li class="dropdown dropdown-submenu"><a routerLink="/captions-subtitles"  class="dropdown-toggle" data-toggle="dropdown">Translation Services</a>
    <ul class="dropdown-menu">
            <li class="kopie"><a routerLink="/captions-subtitles"  >Captions & Sub Titles</a></li>
          </ul>
  </li>
  <li><a routerLink="/data-research-lead-generation" >Data Research And Lead Generation</a></li>
</ul>
</li>
<li routerLinkActive='active'><a routerLink="/price" >Price</a> </li>
    <li routerLinkActive='active'><a routerLink="/faq">FAQ</a> </li>
    <li routerLinkActive='active'><a routerLink="/contact">Contact</a></li>
    <li routerLinkActive='active'><a routerLink="/login" *ngIf="logins()"><img src="assets/images/user-2.png" alt="">Login</a></li>
    <li routerLinkActive='active' class="dropdown" *ngIf="logouts()">
        <a class="dropdown-toggle" data-toggle="dropdown">MyAccount <i class="fa fa-angle-down" aria-hidden="true"></i></a>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
          <li><a routerLink="/user-dashboard"  >Dashboard</a></li>
          <li><a (click)="logout()" >Logout</a></li>
        </ul>
    </li>
    
    <li>
      <div class="cart cart-wrapper inline-block"><a routerLink="/payment-list"> <span class="cart-icon"><i class="fa fa-2x fa-shopping-cart" aria-hidden="true"></i></span> </a></div>
    </li>
</ul>

</div>
<!-- /.navbar-collapse -->
</div>
</div>
</nav>
</header> <!-- header-section -->




<router-outlet></router-outlet>
<flash-messages></flash-messages>

<footer class="footer-section">
    <div class="footer-container">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-4">
                    <div class="footer-wrapper">
                        <img src="assets/images/footer-logo.png" alt="">

                        <ul class="location">
                            <li><i class="fa fa-envelope" aria-hidden="true"></i> 
                                <div class="content">
                                    support@infosolutionsweb.com
                                </div>
                            </li>

                            <li><i class="fa fa-phone" aria-hidden="true"></i> 
                                <div class="content">
                                    +1-518-772-1518
                                </div>
                            </li>
                        </ul>
                        <ul class="social-icon">
                            <li><a  href="https://www.facebook.com/Infosolutionsweb-212443059491881" target="_blank" ><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                            <li><a  href="https://twitter.com/AbrametDavid" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                            <li><a  href="https://aboutme.google.com/b/101602396947037689756/" target="_blank" ><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                            <li><a  href="https://www.linkedin.com/company/infosolutionsweb/" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                        </ul>
                    </div> <!-- footer-wrapper -->
                </div>

                <!--<div class="col-md-4 col-sm-4">
                    <div class="footer-wrapper">
                        <h3>About</h3>

                        <p>Info Solutions Web is a new-age transcription services company dedicated to providing cost-effective, accurate and secure audio/video transcription and translation services. We leverage advanced technology and intelligent manpower to deliver value to our clients across the globe.</p>

                         
                    </div> 
                </div>-->

                <div class="col-md-3 col-md-offset-1 col-sm-4">
                    <div class="footer-wrapper last-wrapper">
                        <h3>Navigation</h3>

                        <ul class="wrapper-option clearfix">
                            <li><a routerLink="/about" >About</a></li>
                            <li><a routerLink="/services" >Services</a></li>
                            <li><a routerLink="/price" >Pricing</a></li>
                            <li><a href="#">Career</a></li>
                            <li><a href="#">Enterprise</a></li>
                        </ul> <!-- wrapper-option -->

                        <ul class="wrapper-option">
                            <li><a routerLink="/faq" >FAQ</a></li>
                            <li><a href="#">Blog</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a routerLink="/contact" >Contact Us</a></li>
                        </ul> <!-- wrapper-option -->
                    </div> <!-- footer-wrapper -->
                </div>
            </div>
        </div>
    </div> <!-- footer-container -->


    <div class="copy-right text-center">
        <div class="container">
            <p>2018 &copy; All Rights Reserved by <a href="#">InfoSolutionsWeb</a></p>
        </div>
    </div> <!-- copy-right -->
</footer> <!-- footer-section -->



<!-- Off-Canvas View Only -->
<span class="menu-toggle navbar visible-xs visible-sm"><i class="fa fa-bars" aria-hidden="true"></i></span>

<div id="offcanvas-menu" class="visible-xs visible-sm">
    
    <span class="close-menu"><i class="fa fa-times" aria-hidden="true"></i></span>
    <ul class="menu-wrapper">
        <li>
            <a class="active dropmenu" routerLink="/index" >Home</a>
        </li><!-- end of li -->
        <li><a routerLink="/about" >About</a></li><!-- end of li -->
        <li>
            <a class="dropmenu" routerLink="/services" >Services <i class="fa fa-angle-down" aria-hidden="true"></i></a>
            <ul class="dropDown sub-menu">                                
                                <li><a routerLink="/general" >Transcription Services</a></li>
                                <li><a routerLink="/captions-subtitles" >Translation Services</a></li>
                                <li><a routerLink="/data-research-lead-generation">Data Research And Lead Generation</a></li>
          </ul><!-- end of dropdown -->
        </li><!-- end of li -->
        <li>
            <a  routerLink="/price" >Price</a>
        </li><!-- end of li -->

        <li><a routerLink="/contact" >Contact</a></li><!-- end of li -->
    </ul> <!-- menu-wrapper -->      
</div>
<!-- Off-Canvas View Only -->

<div id="toTop" >
    <i class="fa fa-chevron-up"></i>
</div> <!-- totop -->

</body>