<section class="header-title section-padding">
  <div class="container text-center">
      <h2 class="title">Services</h2>
      <span class="sub-title">Home >  Services</span>
  </div>
</section> <!-- header-title -->


<section class="project-section section-padding">
  <div class="container text-center">
      <div class="portfolio gallery-grid">
          <ul class="portfolio-sorting gallery-button list-inline">
              <li><a href="#" data-group="all" class="filter-btn active">All</a></li>
              <li><a class="filter-btn" href="#" data-group="transcription-services">Transcription Services</a></li>
              <li><a class="filter-btn" href="#" data-group="translation-services">Translation Services</a></li>
              <li><a class="filter-btn" href="#" data-group="data-research">Data Research And Lead Generation</a></li>
          </ul> 

          <div class="row">
              <div class="gallery-wrapper">
                  <ul class="portfolio-items list-unstyled shuffle" id="grid" style="position: relative; overflow: hidden; height: 540px; transition: height 250ms ease-out;">
                      <li class="col-sm-4 shuffle-item filtered" data-groups="[&quot;transcription-services&quot;]" style="position: absolute; top: 0px; left: 0px; visibility: visible; transition: transform 250ms ease-out, opacity 250ms ease-out; opacity: 1; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1);">
                          <div class="project-wrapper">
                              <img src="assets/images/services/s1.jpg" alt="">

                              <div class="hover-view">
                                  <a routerLink="/general" class="pull-right"><i class="fa fa-link" aria-hidden="true"></i></a>

                                  <h4>General</h4>
                                  <p>Transcription Services</p>
                              </div>
                          </div>
                      </li>

                      <li class="col-sm-4 shuffle-item filtered" data-groups="[&quot;transcription-services&quot;]" style="position: absolute; top: 0px; left: 0px; visibility: visible; opacity: 1; transform: translate3d(390px, 0px, 0px) scale3d(1, 1, 1); transition: transform 250ms ease-out, opacity 250ms ease-out;">
                          <div class="project-wrapper">
                              <img src="assets/images/services/s2.jpg" alt="">

                              <div class="hover-view">
                                  <a routerLink="/education" class="pull-right"><i class="fa fa-link" aria-hidden="true"></i></a>

                                  <h4>Education</h4>
                                  <p>Transcription Services</p>
                              </div>
                          </div>
                      </li>

                      <li class="col-sm-4 shuffle-item filtered" data-groups="[&quot;transcription-services&quot;]" style="position: absolute; top: 0px; left: 0px; visibility: visible; opacity: 1; transform: translate3d(780px, 0px, 0px) scale3d(1, 1, 1); transition: transform 250ms ease-out, opacity 250ms ease-out;">
                          <div class="project-wrapper">
                              <img src="assets/images/services/s3.jpg" alt="">

                              <div class="hover-view">
                                  <a routerLink="/medical" class="pull-right"><i class="fa fa-link" aria-hidden="true"></i></a>

                                  <h4>Medical</h4>
                                  <p>Transcription Services</p>
                              </div>
                          </div>
                      </li>

                      <li class="col-sm-4 shuffle-item filtered" data-groups="[&quot;transcription-services&quot;]" style="position: absolute; top: 0px; left: 0px; visibility: visible; opacity: 1; transform: translate3d(0px, 270px, 0px) scale3d(1, 1, 1); transition: transform 250ms ease-out, opacity 250ms ease-out;">
                          <div class="project-wrapper">
                              <img src="assets/images/services/s4.jpg" alt="">

                              <div class="hover-view">
                                  <a routerLink="/insurance" class="pull-right"><i class="fa fa-link" aria-hidden="true"></i></a>

                                  <h4>Insurance</h4>
                                  <p>Transcription Services</p>
                              </div>
                          </div>
                      </li>

                      <li class="col-sm-4 shuffle-item filtered" data-groups="[&quot;translation-services&quot;]" style="position: absolute; top: 0px; left: 0px; visibility: visible; opacity: 1; transform: translate3d(390px, 270px, 0px) scale3d(1, 1, 1); transition: transform 250ms ease-out, opacity 250ms ease-out;">
                          <div class="project-wrapper">
                              <img src="assets/images/services/s5.jpg" alt="">

                              <div class="hover-view">
                                  <a routerLink="/captions-subtitles" class="pull-right"><i class="fa fa-link" aria-hidden="true"></i></a>

                                  <h4>Captions & Sub Titles</h4>
                                  <p>Translation Services</p>
                              </div>
                          </div>
                      </li>

                      <li class="col-sm-4 shuffle-item filtered" data-groups="[&quot;data-research&quot; , &quot;photography&quot;]" style="position: absolute; top: 0px; left: 0px; visibility: visible; opacity: 1; transform: translate3d(780px, 270px, 0px) scale3d(1, 1, 1); transition: transform 250ms ease-out, opacity 250ms ease-out;">
                          <div class="project-wrapper">
                              <img src="assets/images/services/s6.jpg" alt="">

                              <div class="hover-view">
                                  <a routerLink="/data-research-lead-generation" class="pull-right"><i class="fa fa-link" aria-hidden="true"></i></a>

                                  <h4>Data Research And Lead Generation</h4>
                                  <p></p>
                              </div>
                          </div>
                      </li>
                  </ul> 
              </div> 
          </div>
      </div>
  </div> 
</section>