
        <section class="header-title medical section-padding">
          <div class="container text-center">
              <h2 class="title">Services</h2>
              <span class="sub-title">Home >  Services >  Transcription Services > Medical</span>
          </div>
      </section> <!-- header-title -->


     <section class="service-page-section section-padding">
          <div class="container">
              <div class="row">
                  <div class="col-md-4">
                      <div class="side-bar">
                          <ul class="page-list text-left">
                              <li><a routerLink="/general">General<i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
                              <li><a routerLink="/education">Education <i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
                              <li class="active"><a routerLink="/medical">Medical <i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
                              <li><a routerLink="/insurance">Insurance<i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
                               
                          </ul>

                          
                      </div>
                  </div>

                  <div class="col-md-8">
                      <div class="single-service-wrapper">
                          <h3>Medical</h3>

                          <p>We at Info Solution web have a number of medical transcription experts who have years of experience and ensure to provide quality transcription and translation services for medical recordings of the doctors and the professors. </p>
                          <p>Our professional experts are well aware of the importance these lectures hold for you and hence we make it a point to endeavor our utmost attention and accuracy to provide simply the best of our services.</p>

                          <p>With us, you need not worry about the security of your data. We safeguard it completely and provide the highest degree of confidentiality. Hence our professional experts provide exceptional services at an effective rate.</p>

                          
                          
                      </div>
                  </div>
              </div>
          </div>
      </section> <!-- service-page-section -->



      <section class="signup-section">
          <div class="container">
              <div class="row">
                  <div class="col-md-6 col-sm-7">
                      <div class="contact-wrapper">
                          <h3>Signup for free <span>newsletter</span> and <span>business tips</span></h3>

                          <form class="signupForm">
                              <div class="form-wrapper">
                                  <input class="searchBar" required placeholder="email address ...">

                                  <button type="submit" class="subscribeBtn btn-primary">Submit</button>
                              </div>
                          </form>
                      </div>
                  </div>

                  <div class="col-md-6 col-sm-5 hidden-xs">
                      <div class="caption text-right wow slideInRight">
                          <img src="assets/images/girl.png" alt="">
                      </div>
                  </div>
              </div>
          </div>
      </section>