
<section class="header-title section-padding">
  <div class="container text-center">
    <h2 class="title">Services</h2>
    <span class="sub-title">Home >  Services >  Translation Services > Captions & Sub Titles</span> </div>
</section>
<!-- header-title -->

<section class="service-page-section section-padding">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="side-bar">
          <ul class="page-list text-left">
            <li class="active"><a href="captions-subtitles.html">Captions & Sub Titles <i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
          </ul>
          
          
        </div>
      </div>
      <div class="col-md-8">
        <div class="single-service-wrapper">
          <h3>Captions & Sub Titles</h3>
          <p>Apart from providing translation and transcription services, Info Solutions Web also excels at providing quality captioning services. </p>
          <p>Once the audio/video has been transcribed, our skilled professionals effectively add titles and subtitles to the file provided to us.</p>
          <p>As per the language needed and required by our clients and customers, we effectively add captions and sub titles so that the videos and the audios can be globally recognized. </p>
          <p>We at Info Solutions Web have over years of experience and have till date successfully delivered hundreds of successful videos/audio with accurate translation and captions be it in the native language or a foreign language, as per the needs and the requirements of our clients. 
            </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- service-page-section -->

<section class="signup-section">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-7">
        <div class="contact-wrapper">
          <h3>Signup for free <span>newsletter</span> and <span>business tips</span></h3>
          <form class="signupForm">
            <div class="form-wrapper">
              <input class="searchBar" required placeholder="email address ...">
              <button type="submit" class="subscribeBtn btn-primary">Submit</button>
            </div>
          </form>
        </div>
      </div>
      <div class="col-md-6 col-sm-5 hidden-xs">
        <div class="caption text-right  slideInRight"> <img src="assets/images/girl.png" alt=""> </div>
      </div>
    </div>
  </div>
</section>