<section class="">
  <div class="container text-center">
      <h2 class="title">Login / Register</h2>
      <span class="sub-title">Home > Login / Register</span>
  </div>
</section><!-- header-title -->
<section class="contact-section section-padding20">
  <div class="wrapper wrapper-640 gap-top-50">
<div class="j-tabs-container">

  

  <!-- start form #3 -->
  <div class="">
    <form #f="ngForm" [formGroup]="signupForm" (ngSubmit)="onFormSubmit()" autocomplete="off" role="form"  class="j-forms" novalidate>

          <div class="content">

              <div class="divider-text gap-top-20 gap-bottom-45">
                  <span>Password recovery</span>
              </div>

              <!-- start widget button 130 -->
              <div class="unit">
                  <div class="widget right-130">
                      <div class="input">
                          <input type="email" formControlName = "email" placeholder="enter your email" name="email">
                      </div>
                      <button type="submit" class="addon-btn adn-130 adn-right">
                          Recovery
                      </button>
                      <!-- Email error block -->
                      <div *ngIf="f.submitted || (email.invalid && email.touched)" class="col-sm-12 text-danger validation-error">
                        <div *ngIf = "email.errors?.required">
                        Email field can't be blank
                        </div>
                        <div *ngIf = "email.errors?.pattern">
                        The email id doesn't seem right
                        </div>  
                    </div>
                  </div>
              </div>
              <!-- end widget button 130 -->
              <!-- start keep logged -->
              <div class="unit padding-bottom-18">
                
                    <span class="hint pull-left">
                      <a class="link" routerLink="/register">First time users please click here to register</a>
                    </span>
                    <span class="hint pull-right">
                      <a class="link" routerLink="/login">Already a member? sign in</a>
                    </span>
                  
            </div>
            <!-- end keep logged -->
          </div>
          <!-- end /.content -->
      </form>
  </div>
  <!-- end form #3 -->

</div>
</div>
</section> <!-- contact-section -->