
        <section class="header-title section-padding">
          <div class="container text-center">
              <h2 class="title">Get Free Quote</h2>
          </div>
      </section> <!-- header-title -->


     <section class="contact-section">
          <div class="container">
              <div class="row">
                  <div class="col-md-8">
                      <div class="contact-left-bar">
                          <span class="header">Request for a call back</span>
                          <h4>Enterprise or Business Account</h4>
                          <p>Do you have regular need to transcribe your audio/video to text? And require a customized services which fits into your organization process? can help you setup a dedicated/customized account for your organization with the following benefit:</p>

                          <form class="contact-form">
                              <div class="row">
                                  <div class="col-sm-6 padding-right">
                                      <div class="form-group">
                                          <input id="name" name="name" type="text" class="form-control" required placeholder="Full Name">
                                      </div>
                                  </div>

                                  <div class="col-sm-6 padding-left">
                                      <div class="form-group">
                                          <input class="form-control" id="email" name="email" type="email" required placeholder="Email">
                                      </div>
                                  </div>

                                  <div class="col-sm-12">
                                      <div class="selection">
                                          <select name="one" class="dropdown-select">
                                              <option value="">Select Service</option>
                                              <option value="1">Service one</option>
                                              <option value="2">Service two</option>
                                              <option value="3">Service three</option>
                                          </select>
                                      </div>
                                  </div>
                              </div>

                              <div class="form-group">
                                  <textarea id="message" name="message" class="form-control form-message" rows="4" required placeholder="What is your business about"></textarea>
                              </div>

                              <div class="form-group text-center">
                                  <button class="submitBtn btn btn-primary" type="submit">Submit</button>
                              </div>
                          </form>
                      </div>
                  </div>

                  <div class="col-md-4 hidden-sm hidden-xs">
                      <div class="contact-right-bar wow slideInRight" style="visibility: visible; animation-name: slideInRight;">
                          <img src="assets/images/girl-2.png" alt="">
                      </div>
                  </div>
              </div>
          </div>
      </section>

         