
<section class="slider-section">
  <h2 class="hidden">title</h2>
  
  <div class="rev_slider_wrapper">
      <div id="rev_slider_5" class="rev_slider" style="display:none">
          <ul>
              <li data-transition="random" data-title="Slide Title" data-param1="Additional Text" data-thumb="assets/images/slider/slider-4.jpg">
                  <!-- SLIDE'S MAIN BACKGROUND IMAGE -->
                  <img src="assets/images/slider/slider-4.jpg" alt="Sky" class="rev-slidebg">
                  <!-- LAYER NR. 2 -->
                  <div class="tp-caption sfr font-extra-bold tp-resizeme letter-space-4" 
                      data-x="center" data-hoffset="0" 
                      data-y="top" data-voffset="360" 
                      data-frames='[{"delay":0,"speed":3000,"frame":"0","from":"x:[175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:1;","mask":"x:[-100%];y:0;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'>Audio & Video Transcription Services 
                  </div>
                  
                  <!-- LAYER NR. 3 -->
                  <div class="tp-caption font-medium text-center sfb tp-resizeme letter-space-5" 
                      data-x="center" data-hoffset="0" 
                      data-y="center" data-voffset="75" 
                      data-frames='[{"delay":1000,"speed":1500,"frame":"0","from":"y:bottom;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'>General transcription services, business transcription services, closed captioning services,<br>  education and research transcription services, medical transcription service, <br> academic and personal transcription services.
                  </div>
                  
                  <!-- LAYER NR. 4 -->
                  <div class="tp-caption lfb tp-resizeme" 
                      data-x="center" data-hoffset="0" 
                      data-y="center" data-voffset="190" 
                      data-frames='[{"delay":1500,"speed":2000,"frame":"0","from":"y:bottom;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'><a routerLink="/services" class="el-btn-regular slider-btn-left btn btn-primary">Services</a> <a routerLink="/contact" class="el-btn-regular btn btn-primary color-bg">Contact</a>
                  </div>
              </li>
              <!--<li data-transition="random" data-title="Slide Title" data-param1="Additional Text" data-thumb="assets/images/slider/slider-7.jpg">
                  
                  <img src="assets/images/slider/slider-1.jpg" alt="Sky" class="rev-slidebg">
                  
                  <div class="tp-caption sfr font-extra-bold tp-resizeme letter-space-4" 
                      data-x="left" data-hoffset="0" 
                      data-y="top" data-voffset="360" 
                      data-frames='[{"delay":0,"speed":3000,"frame":"0","from":"x:[175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:1;","mask":"x:[-100%];y:0;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'>Subtitle and Captioning Services
                  </div>
                  
                  
                  <div class="tp-caption font-medium text-left sfb tp-resizeme letter-space-5" 
                      data-x="left" data-hoffset="0" 
                      data-y="center" data-voffset="75" 
                      data-frames='[{"delay":1000,"speed":1500,"frame":"0","from":"y:bottom;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'>has extensive experience transcribing and translating videos into readable<br>, searchable text documents for many formats.
                  </div>
                  
                  
                  <div class="tp-caption sfr tp-resizeme letter-space-4" 
                      data-x="left" data-hoffset="0" 
                      data-y="center" data-voffset="190" 
                      data-frames='[{"delay":2200,"speed":2000,"frame":"0","from":"x:[175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:1;","mask":"x:[-100%];y:0;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'><a href="#." class="el-btn-regular slider-btn-left btn btn-primary">Services</a> <a href="#." class="el-btn-regular btn btn-primary color-bg">Contact</a>
                  </div>
              </li>-->
              <li data-transition="random" data-title="Slide Title" data-param1="Additional Text" data-thumb="assets/images/slider/slider-7.jpg">
                <!-- SLIDE'S MAIN BACKGROUND IMAGE -->
                <img src="assets/images/slider/slider-1.jpg" alt="Sky" class="rev-slidebg">
                <!-- LAYER NR. 2 -->
                <div class="tp-caption sfr font-extra-bold tp-resizeme letter-space-4" 
                    data-x="left" data-hoffset="0" 
                    data-y="top" data-voffset="360" 
                    data-frames='[{"delay":0,"speed":3000,"frame":"0","from":"x:[175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:1;","mask":"x:[-100%];y:0;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'>Professional Translation Services
                </div>
                
                <!-- LAYER NR. 3 -->
                <div style="margin-bottom:-25px;" class="tp-caption font-medium text-left sfb tp-resizeme letter-space-5" 
                    data-x="left" data-hoffset="0" 
                    data-y="center" data-voffset="75" 
                    data-frames='[{"delay":1000,"speed":1500,"frame":"0","from":"y:bottom;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'>Infosolutionsweb provides high-quality professional human translation of 75 languages  and over <br/>250 different world languages. Our translators have many years of professional experience and <br/>translate only into their own mother tongues.
                </div>
                
                <!-- LAYER NR. 4 -->
                <div class="tp-caption sfr tp-resizeme letter-space-4" 
                    data-x="left" data-hoffset="0" 
                    data-y="center" data-voffset="190" 
                    data-frames='[{"delay":2200,"speed":2000,"frame":"0","from":"x:[175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:1;","mask":"x:[-100%];y:0;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'><a routerLink="/captions-subtitles" class="el-btn-regular slider-btn-left btn btn-primary">Services</a> <a routerLink="/contact" class="el-btn-regular btn btn-primary color-bg">Contact</a>
                </div>
            </li>
          </ul>
      </div>
  </div>
</section>
<section class="right-choice-section section-padding">
  <div class="container text-center">
      <div class="section-title">
          <h2>What We Can Offer</h2>
          <div class="border-3"></div>
          <p>We are experts in this indudtry with over several years experience. What that means is you are going <br> get right solution, Please find our services.</p>
      </div> <!-- section-title -->

      <div class="row">
          <div class="col-sm-4">
              <div class="section-wrapper">
                  <div class="caption">
                      <img src="assets/images/choice/1.jpg" alt="">

                      <a routerLink="/general" class="hover-view">Read More</a>

                      <div class="hover">
                          <span class="hover-one"></span>
                          <span class="hover-two"></span>
                          <span class="hover-three"></span>
                          <span class="hover-four"></span>
                      </div>
                  </div>

                  <div class="content">
                      <img src="assets/images/icon/c1.png" alt="">
                      <h4>Transcription Services</h4>
                      <p>The professional transcribers audio/video and provide accurate and quality</p>
                  </div>
              </div>
          </div>

          <div class="col-sm-4">
              <div class="section-wrapper">
                  <div class="caption">
                      <img src="assets/images/choice/2.jpg" alt="">

                      <a routerLink="/captions-subtitles" class="hover-view">Read More</a>

                      <div class="hover">
                          <span class="hover-one"></span>
                          <span class="hover-two"></span>
                          <span class="hover-three"></span>
                          <span class="hover-four"></span>
                      </div>
                  </div>

                  <div class="content">
                      <img src="assets/images/icon/c2.png" alt="">
                      <h4>Captions & Sub Titles</h4>
                      <p>Apart from providing translation and transcription services</p>
                  </div>
              </div>
          </div>

          <div class="col-sm-4">
              <div class="section-wrapper">
                  <div class="caption">
                      <img src="assets/images/choice/3.jpg" alt="">

                      <a routerLink="/data-research-lead-generation" class="hover-view">Read More</a>

                      <div class="hover">
                          <span class="hover-one"></span>
                          <span class="hover-two"></span>
                          <span class="hover-three"></span>
                          <span class="hover-four"></span>
                      </div>
                  </div>

                  <div class="content">
                      <img src="assets/images/icon/c3.png" alt="">
                      <h4>Data Research</h4>
                      <p>Nowadays, almost every industry is relying on good leads.</p>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section> <!-- right-choice-section -->



<section class="counting-section section-padding">
  <div class="container">
      <h2 class="hidden">counting-title</h2>

      <div class="counting-pusher">
          <div class="counting-wrapper">
              <span class="icon pull-left"><img src="assets/images/counter/1.png" alt=""></span>

              <div class="content">
                  <div class="count-description">
                      <span class="timer">10</span>
                  </div>
                  <p>Team Members</p>
              </div>
          </div>  

          <div class="counting-wrapper">
              <span class="icon pull-left"><img src="assets/images/counter/2.png" alt=""></span>

              <div class="content">
                  <div class="count-description">
                      <span class="timer">150</span>
                  </div>
                  <p>Satisfied Clients</p>
              </div>
          </div>  

          <div class="counting-wrapper">
              <span class="icon pull-left"><img src="assets/images/counter/3.png" alt=""></span>

              <div class="content">
                  <div class="count-description">
                      <span class="timer">75</span>
                  </div>
                  <p>Languages Support</p>
              </div>
          </div> 

          <div class="counting-wrapper">
              <span class="icon pull-left"><img src="assets/images/counter/4.png" alt=""></span>

              <div class="content">
                  <div class="count-description">
                      <span class="timer">200</span>
                  </div>
                  <p>Successful Projects</p>
              </div>
          </div>  
      </div> 
  </div>
</section> <!-- counting-section -->



<section class="finance-service-section section-padding">
  <div class="container text-center">
      <div class="section-title">
          <h2>Our Services</h2>
          <div class="border-3"></div>
          <p>Info Solutions Web is a professional company which deals with Transcription and Translation services.<br> Our professional team consists a number of professional Transcriptionists</p>
          <a routerLink="/services" class="link">All Services</a>
      </div> <!-- section-title -->

      <div class="finance-carousel owl-carousel owl-theme">
          <div class="finance-wrapper item">
              <div class="icon"><img src="assets/images/icon/i1.png" alt=""></div>

              <div class="wrapper-content">
                  <h4><a routerLink="/general">General</a></h4>
                  <p>The professional transcribers pay complete attention to the entire audio/video and provide accurate and quality transcription services. </p>
              </div>

              <div class="hover">
                  <span class="hover-one"></span>
                  <span class="hover-two"></span>
                  <span class="hover-three"></span>
                  <span class="hover-four"></span>
              </div>
          </div>

          <div class="finance-wrapper item">
              <div class="icon"><img src="assets/images/icon/i2.png" alt=""></div>

              <div class="wrapper-content">
                  <h4><a routerLink="/education">Education</a></h4>
                  <p> The Education Transcription services provided by our professional experts come to the aid of students and professors </p>
              </div>

              <div class="hover">
                  <span class="hover-one"></span>
                  <span class="hover-two"></span>
                  <span class="hover-three"></span>
                  <span class="hover-four"></span>
              </div>
          </div>
          <div class="finance-wrapper item">
              <div class="icon"><img src="assets/images/icon/i2.png" alt=""></div>

              <div class="wrapper-content">
                  <h4><a routerLink="/medical">Medical</a></h4>
                  <p>We at Info Solutions web have a number of medical transcription experts who have years of experience and ensure to provide quality</p>
              </div>

              <div class="hover">
                  <span class="hover-one"></span>
                  <span class="hover-two"></span>
                  <span class="hover-three"></span>
                  <span class="hover-four"></span>
              </div>
          </div>
          <div class="finance-wrapper item">
              <div class="icon"><img src="assets/images/icon/i3.png" alt=""></div>

              <div class="wrapper-content">
                  <h4><a href="#">Insurance</a></h4>
                  <p>Our professional expertsprovide accurate transcribing of the audios which are gathered by the insurance companies</p>
              </div>

              <div class="hover">
                  <span class="hover-one"></span>
                  <span class="hover-two"></span>
                  <span class="hover-three"></span>
                  <span class="hover-four"></span>
              </div>
          </div>

          <div class="finance-wrapper item">
              <div class="icon"><img src="assets/images/icon/i4.png" alt=""></div>

              <div class="wrapper-content">
                  <h4><a routerLink="/captions-subtitles">Captions & Sub Titles</a></h4>
                  <p>Apart from providing translation and transcription services, Info Solutions Web also excels at providing quality captioning services.</p>
              </div>

              <div class="hover">
                  <span class="hover-one"></span>
                  <span class="hover-two"></span>
                  <span class="hover-three"></span>
                  <span class="hover-four"></span>
              </div>
          </div>

          <div class="finance-wrapper item">
              <div class="icon"><img src="assets/images/icon/i2.png" alt=""></div>

              <div class="wrapper-content">
                  <h4><a routerLink="/data-research-lead-generation">Data Research and Lead Generation</a></h4>
                  <p>Nowadays, almost every industry is relying on good leads. We at Info Solutions Web rightfully outsource </p>
              </div>

              <div class="hover">
                  <span class="hover-one"></span>
                  <span class="hover-two"></span>
                  <span class="hover-three"></span>
                  <span class="hover-four"></span>
              </div>
          </div>
          
      </div>
  </div>
</section> <!-- finance-service-section -->

<section class="secure-section">
  <div class="container">
      <h2>We Are Your Translate Helper to make your business</h2>
      <a routerLink="/captions-subtitles" class="btn btn-primary pull-right">Know More</a>
  </div>
</section> <!-- secure-section -->



<section class="working-section section-padding">
  <div class="container">
      <div class="section-title text-center">
          <h2>About Info Solutions Web</h2>
          <div class="border-2"></div>
      </div> <!-- section-title -->

      <div class="section-wrapper">
          <div class="row">
              <div class="col-md-4">
                  <div class="wrapper-content">
                      <h4>We Are Your Transcription & Translation Helper to make your business</h4>
                      <p>Info Solutions Web is a professional company which deals with Transcription and Translation services. Our professional team consists a number of professional Transcriptionists and Customer Support experts who aim to provide the best Transcription and Translation solutions to name a few for the writers, students, teachers, medical professionals, lawyers, researchers and organizations.
</p>

                      <a routerLink="/about" class="btn btn-primary">More about us</a>
                  </div>
              </div>

              <div class="col-md-8">
                  <div class="video-wrapper">
                      <video controls>
                        <source src="assets/video/video.mp4" type="video/mp4">
                      </video>
                  </div> <!-- video-wrapper -->
              </div>
          </div>
      </div> <!-- section-wrapper -->
  </div>
</section>


<section class="thinking-section section-padding">
  <div class="container">
      <div class="row">
          <div class="col-md-7">
              <div class="thinking-content">
                  <h3>Transcription &amp; Translation</h3>

                  
<p>Info Solutions Web provides quality transcription and translation of the audios and
videos present in foreign languages as well. Till date we have successfully transcribed
over thousands of documents in foreign languages.</p><p>Instead of employing machines for performing the transcription of the documents, we
at Info Solutions web deploy 100% Human expertise professional transcription experts
who perform accurately and quality transcription and translation services.</p>
<p>We aim to provide quality work to our clients and customers at affordable rates.</p>
<p>Our professional experts will effectively transcript the video/audio in both the foreign
language as well as in English to help the readers across the world to understand the
translated text. This is done as per the convenience and needs of the clients.</p>

                  
              </div>
          </div>

          <div class="col-md-5 hidden-sm hidden-xs">
              <div class="caption text-center" >
                  <img src="assets/images/men.png" alt="">
              </div>
          </div>
      </div>
  </div>
</section>

<!--<section class="testimonial-section section-padding">
  <div class="container text-center">
      <div id="testimonial-carousel" class="carousel slide" data-ride="carousel">
         <div class="carousel-inner" role="listbox">
              <div class="item active">
                  <div class="carousel-wrapper">
                      <p>“ Ut enim ad minima veniam, quis nostrum exercitationem ullam cor poris suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur. Quis autem vel eum iure <br> reprehenderit qui. ”</p>

                      <div class="reviewer">
                          <h5>Jora’h El Morjmont</h5>
                          <span class="position">Mormjont Inc.</span>
                      </div>
                  </div>
              </div>

              <div class="item">
                  <div class="carousel-wrapper">
                      <p>“ Ut enim ad minima veniam, quis nostrum exercitationem ullam cor poris suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur. Quis autem vel eum iure <br> repreihenderit qui. ”</p>

                      <div class="reviewer">
                          <h5>Jorsa’h El Mormont</h5>
                          <span class="position">Mokrmont Inc.</span>
                      </div>
                  </div>
              </div>
          </div>

          <a class="left carousel-control" href="#testimonial-carousel" role="button" data-slide="prev"><i class="fa fa-angle-left" aria-hidden="true"></i></a>

          <a class="right carousel-control" href="#testimonial-carousel" role="button" data-slide="next"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
      </div>
  </div>
</section><--> <!-- testimonial-section -->


<hr>
<div class="multi-section section-padding60">
  <!--<div class="container text-center">
  <div class="section-title text-center">
          <h2>Businesses Trust</h2>
             <div class="border-3"></div>
          <p> infosolutionsweb is committed to delivering excellent service and quality. </p>
      </div> 
      <div class="client-section">
          <ul class="logo client-carousel owl-carousel owl-theme">
              <li class="wow fadeIn item"><img src="assets/images/client/1.png" alt=""></li>

              <li class="wow fadeIn item" data-wow-delay="0.2s"><img src="assets/images/client/2.png" alt=""></li>

              <li class="wow fadeIn item" data-wow-delay="0.3s"><img src="assets/images/client/3.png" alt=""></li>

              <li class="wow fadeIn item" data-wow-delay="0.4s"><img src="assets/images/client/4.png" alt=""></li>

              <li class="wow fadeIn item" data-wow-delay="0.5s"><img src="assets/images/client/5.png" alt=""></li>

              <li class="wow fadeIn item" data-wow-delay="0.6s"><img src="assets/images/client/6.png" alt=""></li>

              <li class="wow fadeIn item" data-wow-delay="0.7s"><img src="assets/images/client/7.png" alt=""></li>
          </ul>
      </div>
  </div>-->
</div>

<section class="signup-section">
  <div class="container">
      <div class="row">
          <div class="col-md-6 col-sm-7">
              <div class="contact-wrapper">
                  <h3>Signup for free <span>newsletter</span> and <span>Translation tips</span></h3>

                  <form class="signupForm">
                      <div class="form-wrapper">
                          <input class="searchBar" required placeholder="email address...">

                          <button type="submit" class="subscribeBtn btn-primary">Submit</button>
                      </div>
                  </form>
              </div>
          </div>

          <div class="col-md-6 col-sm-5 hidden-xs">
              <div class="caption text-right">
                  <img src="assets/images/girl.png" alt="">
              </div>
          </div>
      </div>
  </div>
</section>