<div class="mainpanel">
  <div class="pageheader">
      <div class="media">
          <div class="pageicon pull-left">
              <i class="fa fa-th-list"></i>
          </div>
          <div class="media-body">
              <ul class="breadcrumb">
                  <li><a href=""><i class="glyphicon glyphicon-home"></i></a></li>
                  <li><a href="">New Jobs</a></li>
                  <li>User Request</li>
              </ul>
              <h4>User Request</h4>
          </div>
      </div><!-- media -->
  </div><!-- pageheader -->
  
  <div class="contentpanel">
    
        <h5 class="lg-title mb5">New Jobs Tables</h5>
            <p class="mb20">New Unassigned Jobs - Edit and Assign jobs to Transcriber</p>
            
          <div class="row">
            <div class="col-md-12">
              <div class="table-responsive">
                  <table class="table table-primary mb30">
                      <thead>
                        <tr>
                          <th>Order ID</th>
                          <th>Job ID</th>
                          <th>Audio Difficulty</th>
                          <th>Time Code</th>
                          <th>Duration in minutes</th>                          
                          <th>Order Start Date</th>
                          <th>Order Delivery Date</th>
                          <th>Action</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>1682</td>
                          <td>10946</td>
                          <td>good</td>
                          <td>No</td>
                          <td>8</td>                          
                          <td>01/03/2018 - 07:15</td>
                          <td>01/07/2018 - 07:15</td>
                          <td class="table-action">
                            <a href="" data-toggle="tooltip" title="Edit" class="tooltips"><i class="fa fa-pencil"></i></a>
                            <a href="" data-toggle="tooltip" title="Delete" class="delete-row tooltips"><i class="fa fa-trash-o"></i></a>
                          </td>
                        </tr>
                        <tr>
                          <td>1682</td>
                          <td>10946</td>
                          <td>good</td>
                          <td>No</td>
                          <td>8</td>                          
                          <td>01/03/2018 - 07:15</td>
                          <td>01/07/2018 - 07:15</td>
                          <td class="table-action">
                            <a href="" data-toggle="tooltip" title="Edit" class="tooltips"><i class="fa fa-pencil"></i></a>
                            <a href="" data-toggle="tooltip" title="Delete" class="delete-row tooltips"><i class="fa fa-trash-o"></i></a>
                          </td>
                        </tr>
                        <tr>
                          <td>1682</td>
                          <td>10946</td>
                          <td>good</td>
                          <td>No</td>
                          <td>8</td>                          
                          <td>01/03/2018 - 07:15</td>
                          <td>01/07/2018 - 07:15</td>
                          <td class="table-action">
                            <a href="" data-toggle="tooltip" title="Edit" class="tooltips"><i class="fa fa-pencil"></i></a>
                            <a href="" data-toggle="tooltip" title="Delete" class="delete-row tooltips"><i class="fa fa-trash-o"></i></a>
                          </td>
                        </tr>
                      </tbody>
                  </table>
              </div><!-- table-responsive -->
          </div>
         
          
        </div><!-- row -->
  </div><!-- contentpanel -->
</div><!-- mainpanel -->